
#book-table {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  border-collapse: collapse;
  width: 100%;
}
  
#book-table td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
}

#book-table svg {
  color:#333;
}
  
#book-table tr:nth-child(even) {
  background-color:#f8f8f8;
}
  
#book-table tr:hover {
  background-color: rgb(238, 238, 238);cursor: pointer;
}

#book-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid  rgb(247, 247, 255);
  text-align: center;
  background-color:#60d1e0;
  color: rgb(247,247,255);

}
