button {
    width: auto;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-color:#60d1e0;
    border: none;
    cursor: pointer;
    outline: none;
}

button.active {
    background-color: #333333;

}
button:hover {
    background-color:#333333;
}