.form-style {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: black;
    width: 100%;
}

.form-style form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-style form div {
    flex: 0 0 49%;
}
#searchedBookForm {
    margin-top:  45px;
}
#searchedBookForm input{
    pointer-events: none;
    background-color: #f8f8f8;
}
label {
	display: block;
    margin: 0px 0px 15px 0px;
    font-size: 13px;
}

label > span {
    width: 100%;
    display: block;
    padding-bottom: 5px;
}

.span-update {
    width: 120px;
	font-weight: bold;
	float: left;
	padding-top: 20px;
	padding-right: 5px;
}

input.input-field, .select-field {
	width: 48%;	
}

input.input-field, 
.select-field, select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid white;
	padding: 7px;
    outline: none;
    background-color:  white;
}

input.input-field:focus, 
.select-field:focus, select {
    border: 1px solid  rgba(0, 0, 0, 0.1);
}

input[type=text] ,input[type=search], select {
    width: 100%;
    border: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: black;
    border:1px solid white;
}


