.small-button {
    width: 100px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-color:#333333;
    border: none;
    cursor: pointer;
    outline: none;
}

.small-button:hover {
    background-color: #60d1e0!important;
    color: #fff;
  }

.delete {
    margin-bottom: 50px;
}

.search-container input {
    margin-bottom: 10px;
}