.App {
  display: flexbox;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.book-table-div {
  left: 0;
  width: 50%;
}

.buttons-div {
  right: 0;
  background-color: white;
}

.d-none {
  display: none;
}
/* If you want the content centered horizontally and vertically */
